* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body {
    background: url(./pexels-billel-moula-540518.jpg) no-repeat;
    background-size: cover;
}

#main-div {
    margin: 140px 33%;
   /* width: 500px;
   height: 600px; */
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.6);
    display: inline-block;
    padding: 65px;
}


h1 {
    /* border: 2px solid blue; */
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

input, label {
    display: block;
}

label {
    font-size: 26px;
    margin-bottom: 5px;
}

#name-text, #password-text {
    width: 450px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.6);
    border: none;
}

#name-text:focus, #password-text:focus {
    outline: none;
    background-color: rgba(245, 245, 245, 0.7);
}

input[type="button"] {
    font-size: 22px;
    padding: 10px;
    position: relative;
    margin-top: 62px;
    padding: 12px;
    width: 470px;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
}

input[type="button"]:hover {
    cursor: pointer;
    box-shadow: 6px 6px 6thirpx grey;
}

.material-symbols-outlined{
    position: absolute;
    bottom: 226px;
    left: 835px;
    /* background-color: white; */
    color: white;
    z-index: 1;
}
